<div class='container'>
    <h1 class='text-center'>Posts: </h1>
    <%= render @posts %>
    <%= will_paginate(@post,:renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
    
    
</div>
